/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #3d3146; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px 0; /* Thick padding for header */
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    margin: 20px;
    padding: 20px 0;
    
}

h1 {
    color: white;
    margin: 10px;
    padding: 50px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6e6767; /* White background for the form container */
    padding: 20px; /* Thick padding for the form container */
    margin: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, );
    width: 100%;
    max-width: 300px;
    text-align: center;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
    width: 100%;
}

button {
    padding: 15px 20px;
    background-color: #4b5764;
    color: #fff;
    border: none;
    font-size: large;
    letter-spacing:  1px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #267544;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.valid {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.invalid {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px; /* Thick padding for the container */
    margin-top: 100px; /* Offset for the fixed header */
}

.form-container {
    background-color: #fff; /* White background for the form container */
    padding: 40px; /* Thick padding for the form container */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}